<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="NexusInternal" value="..\\artifacts\\packages" />
    <!-- Replace with the bank/government internal NuGet feed URL after packages are approved. -->
    <!-- <add key="BankInternalNuGet" value="https://nuget.internal.example/v3/index.json" /> -->
  </packageSources>
  <disabledPackageSources />
</configuration>
